
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.players {
    font-family: 'Quicksand';
}

.favorite-player, .favorite-player .ui.header {
    background-color: rgba(0, 192, 255);
    color: white;
}

.player-row {
    text-align: center
}

.top-header {
    margin-top: 10px;
}

.player-name {
    padding: 15px;
}

