@import url('https://fonts.googleapis.com/css?family=Quicksand');

.add-a-match-header {
    font-family: 'Quicksand';
    text-align: center;

}

.add-a-match-form {
    background-color: RGB(0, 173, 230);
    padding: 20px;
}

.success-message {
    background: rgb(157, 226, 157);
    border: 2px solid green;
}