.ListContainer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 192, 255);
    margin: 0;
    padding: 0;
    align-items: center;
}

.ListItemImage {
    width: 25px;
    height:25px;
    background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F03%2Fcristiano-ronaldo-champions-league-celebration-charge-ban-1.jpg?q=90&w=1400&cbr=1&fit=max")}
.ListItem {
    text-align: center;
    width: 20%;
    padding-top: 45px;
    padding-bottom: 5px;
    margin-bottom:2px;
    border-right: 1px solid white;
    font-size: 0.9em
}

.ListItem a {
    cursor: pointer;
}

.ListContainer :last-child {
    border-right: none;

}

.ListItem :first-child{
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px
}
