.ListContainer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 192, 255);
    margin: 0;
    padding: 0;
    align-items: center;
    border-bottom: 3px solid #00ADE6
}

.ListItem {
    display: flex;
    text-align: center;
    width: 20%;
    height: 60px;
    border-right: 1px solid white;
    justify-content: center;
    align-content: space-between;
    padding-top: 5px;
}

.NavImage {
    max-width: 40px;
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background-color: red;
    /* background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F03%2Fcristiano-ronaldo-champions-league-celebration-charge-ban-1.jpg?q=90&w=1400&cbr=1&fit=max"); */
}

.NavLabel {
    width: 95%;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
}

.ListItem a {
    width: 100%;
    cursor: pointer;
}

.ListItem a:active {
    background-color: white;
}

.ListContainer :last-child {
    border-right: none;

}

