 .dashboard-background {
    background-image: url('../assets/dashboard-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
  }
  
  .general-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  

  .signing {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }

  .chart-container {
    width: 100%;
    height: 45%;
  }